* {
    box-sizing: border-box;
}

div h2 {
    font-family: semplicitapro, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    color: #ffff;
}
.navbar-brand {
    padding: 30px;
}
.principal {
    
    height: auto;
    background-image:url(./imgs/hero_img_back_inicio.webp);
    background-size: cover;
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: 1fr;    
}
.principal div {
    grid-column: 2/4;
    text-align: center;    
}
.principal div h1 {
    padding-top: 20%;
    padding-bottom: 5%;
    font-family: forma-djr-display, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #ffff;
    letter-spacing: 2pt;
    font-size: 50px;
}
.principal div h2 {
    
    line-height: 30pt;
    padding-bottom: 5%;
}
.principal div button {
    margin-bottom: 20%;
    font-size: 15pt;
    padding: 10px;
    
}
.principal div button a {
    color: #ffff;
}
a:link {
    text-decoration: none;
}
.contenido_secundario {
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
} 
.contenido_secundario h2 {
    text-align: left;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 60px;
    font-size: 27pt;
    color: #000;
}
.contenido_secundario p {
    text-align: justify;
    font-size: 15pt;
    margin-top: 30px;
    margin-right: 60px;
    margin-left: 70px;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    flex-direction: row;
    justify-content: center;  
    margin-top: 60px;
    margin-bottom: 60px;

}

footer {
    margin-bottom: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer div h3 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: semplicitapro, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
      
}
footer div p {
    font-size: 15pt;
    padding: 50px;
    text-align: justify;
}
.boton_contacto button {
    color: aliceblue;
    margin-bottom: 60px;
    font-size: 16pt;
}
.redes_sociales {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
}

.redes_sociales img {
    flex-wrap: wrap;
    padding-inline: 15px;
    margin-top: -12px;

}



/* inicia Sección mutoh */
.principal_mutoh {
   
    background-image: url(./imgs/background_mutoh.webp);
    background-size: cover;
    height: 750px;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 1fr 10%;
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    justify-content: center;
    align-items: center;

}

.grid-item:nth-child(1) {
    width: 90%;
    grid-column: 1/4;
    grid-row: 2/2;
    padding: 30px;
    margin-left: 40px;
    margin-right: 40px;
   
}
.grid-item:nth-child(2) {
    color: #ffff;
    grid-column: 1/4 ;
    grid-row: 3/3;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    
    
}
.grid-item:nth-child(3) {
    grid-column: 1/4;
    grid-row: 4/4;
    text-align: center;
    margin-bottom: 20px;
       
}
.grid-item:nth-child(4) {
    grid-column: 1/4;
    grid-row: 5/5;
    text-align: justify;
    color:#ffff;
    font-size: 14pt;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;   
}
.grid-item:nth-child(5) {
    width: 100%;
    grid-column: 4/7;
    grid-row: 3/6;
    margin-bottom: 80px;
    justify-items: right;    
}
.principal_mutoh img {
    width: 100%;
}
.contenido_central {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenido_central h2 {
    color: #000;
    margin-top: 100px;
    text-align: center;
    font-size: 40pt;
    padding: 10px;
}
.contenido_central p {
    padding: 20px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 14pt;
    text-align: center;
}
.equipos_sublimacion {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #05070b, #3796e3 60%);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;

}

.equipos_sublimacion h2 {
    font-family:Arial, Helvetica, sans-serif;
    color: #ffff;
    padding: 20px;
    font-size: 50px;
    text-align: center;
}
.equipos_sublimacion img {
    width: 70%;
}
.shrink:hover {
-webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
}
.contenedor:hover .imagen {-webkit-transform:scale(1.3);transform:scale(1.3);}
.contenedor {overflow:hidden;}

.grow:hover {
-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
}
.equipos_ecosolventes {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #280715, #B72662 60%);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

}
.equipos_ecosolventes h2 {
    font-family:Arial, Helvetica, sans-serif;
    color: #ffff;
    padding: 20px;
    font-size: 50px;

}
.equipos_ecosolventes img {
    width: 70%;
}

.equipos_UV {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #210801, #CC502F 60%);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

}
.equipos_UV h2 {
    font-family:Arial, Helvetica, sans-serif;
    color: #ffff;
    padding: 20px;
    font-size: 50px;

}
.equipos_UV img {
    width: 70%;
}

.plotters_corte {
    width: 100%;
    height: 571px;
    background-image: url(./imgs/Banner_plotters_de_corte.webp);
    background-size:100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 10%  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 10%;
    grid-template-rows: 10% 1fr 1fr 1fr 10%;
}
.plotters_corte h2 {
    font-family:Arial, Helvetica, sans-serif;
    color: #ffff;
    padding: 20px;
    font-size: 50px;
    grid-column: 7/10;
    grid-row: 2/2;
    align-self: center;
    text-align: center;

}
.boton_equipos {
    margin-bottom: 60px;

}
.boton_plotters {
    grid-column: 7/10;
    grid-row: 3/3;
    text-align: center;
    font-size: 30pt;    
}
.contenido_central {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.contenido_central img {
    
}

@media (max-width: 600px) {

.contenido_secundario {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
.contenido_secundario h2 {
    text-align: left;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 60px;
    font-size: 25pt;
    color: #000;
}
.contenido_secundario p {
    text-align: justify;
    font-size: 15pt;
    margin-top: 30px;
    margin-right: 60px;
    margin-left: 70px;
}

.principal_mutoh {
   background-image: url(./imgs/background_mutoh.webp);
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
    
}
.grid-item:nth-child(1) {
    width: 80%;
   
    padding: 30px;
    margin-left: 40px;
    margin-right: 40px;
   
}
.grid-item:nth-child(2) {
    color: #ffff;
    grid-column: 1/4 ;
    grid-row: 3/3;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    
    
}
.grid-item:nth-child(3) {
    grid-column: 1/4;
    grid-row: 4/4;
    text-align: center;
    margin-bottom: 20px;
       
}
.grid-item:nth-child(4) {
    grid-column: 1/4;
    grid-row: 5/5;
    text-align: justify;
    color:#ffff;
    font-size: 14pt;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;   
}
.grid-item:nth-child(5) {
    width: 100%;
    grid-column: 4/7;
    grid-row: 3/6;
    margin-bottom: 80px;
    justify-items: right; 
    align-items: right;   
}
.equipos_UV {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #210801, #CC502F 60%);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 100px;

}
.equipos_UV h2 {
    font-family:Arial, Helvetica, sans-serif;
    color: #ffff;
    padding: 20px;
    font-size: 50px;

}
.equipos_UV img {
    width: 90%;
}

.equipos_ecosolventes h2 {
    font-family:Arial, Helvetica, sans-serif;
    color: #ffff;
    padding: 20px;
    font-size: 50px;
    text-align: center;
}
.equipos_ecosolventes img {
    width: 90%;
}
.equipos_sublimacion h2 {
    font-family:Arial, Helvetica, sans-serif;
    color: #ffff;
    padding: 20px;
    font-size: 50px;
    text-align: center;
}
.equipos_sublimacion img {
    width: 90%;
}
.plotters_corte {
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: #193181;
     
}
.plotters_corte h2 {
   margin-top: 170px;
    
}
.plotters_corte button {
    margin-top: -30px;
 
}
.contenido_central h1 {
    background-color: aqua;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
}
.contenido_central p {
    text-align: justify;
}

}

